# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Docker
docker-compose.override.yml

# IDE-специфичные файлы
.idea/
.vscode/

# Секреты и данные
.env
credentials.json
bot_data.pickle
*.db